asgiref==3.4.1
autopep8==1.5.7
dj-database-url==0.5.0
Django==3.2.7
django-cors-headers==3.8.0
django-crispy-forms==1.10.0
django-extensions==3.0.2
django-haystack==2.6.1
django-js-asset==1.2.2
django-mptt==0.13.4
djangorestframework==3.12.4
graphviz==0.14
gunicorn==20.1.0
jieba==0.38
Markdown==2.6.8
mysql-connector-python==8.0.20
Pillow==8.0.1
protobuf==3.12.2
pycodestyle==2.7.0
pydot==1.4.1
Pygments==2.2.0
pyparsing==2.4.7
python-decouple==3.4
python-dotenv==0.15.0
pytz==2021.1
six==1.15.0
sqlparse==0.4.2
toml==0.10.2
Unipath==1.1
whitenoise==5.3.0
Whoosh==2.7.4
